<script>
  const statusUrl = '{{ order.order_status_url }}';
  window.location.href = statusUrl;
</script>

<div class="oder">
  <div class="order__container">
    <p class="order-page__loading-text">Loading order..</p>
    <div class="loader"></div>
  </div>
</div>